POSTGRES_USER=iris
POSTGRES_PASSWORD=changeme
POSTGRES_DB=iris_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

JWT_SECRET=changeme_secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=720

IRIS_USERNAME=irina
IRIS_PASSWORD_HASH=         # bcrypt hash

VITE_API_URL=https://iris.goeloria.de/api
